## IMPORTING AND EXPORTING DATA IN PYTHON

In [1]:
# It's the process of loading and reading Data into Python from various resources.
# To resd any data using Pandas package,you consider 2 important factors;
# 1.  Format: is the way data is encoded. Difft encoding schemes are told by looking at the ending of the file name.
# Some common encodings are: .csv, .json. .xlsx, .hdf etc.
# 2. File path of Dataset: Can be in our computer, online, or internet.
# Computer:/Desktop/mydata.csv
# Internet: https://archive.ics.uci.edu/autos/imports-85.data
# The read csv method read files with columns seperated by commas into a Pandas DataFrame.
# Reading data in Pandas can be done in 3 lines.
# import Pandas as pd
# Define a variable with the file path: url=""
# Use the read csv method to import the data: df = pd.read_csv(url)
# Read csv assumes the data contains a header, Remember to set non header file to Non(url, header-None)

**PRINTING THE DATAFRAME IN PYTHON**

In [2]:
# df prints the entire dataframe(not recommended for large datasets)
# df.head(n) to show the first n rows of dataframe.
# df.tail(n) shows the bottom n rows of data frame

## Adding Headers

In [3]:
# Replace default header(df.columns = headers)

## You can export your Pandas dataframe to a new csv file

In [4]:
# Preserve progress anytime by saving modified dataset using
# path="C:/Windows/.../automobile.csv" df.to_csv(path)

**Exporting to different file formats in Python**

In [5]:
# Data format (csv), Read- pd.read_csv(), Save- df.to_csv()
# Data format (json), Read- pd.read_json(), Save- df.to_json()
# Data format (Excel), Read- pd.read_excel(), Save- df.to_excel()
# Data format (sql), Read- pd.read_sql(), Save- df.to_sql()

## READING DATA SQL, CSV, APIs, ETC

**Reading Data With Python**

In [6]:
# When you want to work with a file, the first thing to do is to open it. This is done by invoking
# the open() buil-in function. Open() has a single requred argument that is the path to the file 
#  and has a single return, the file object.
# The with statement automatically takes care of closing the file once it leaves the with block, 
# even in cases of error.

In [7]:
with open('C:\\Users\\Amaka\\Desktop\\DS FILES\\btc-market-price(3).csv', 'r') as fp:
          print(fp)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Amaka\\Desktop\\DS FILES\\btc-market-price(3).csv'

In [ ]:
# Once the file is opened, we can read its content as follows:

In [ ]:
with open('C:\Users\Amaka\Desktop\DS FILES.csv', 'r') as fp:
    for index, line in enumerate(fp.readLines()):
        # read just the firdt 10 lines
        if (index < 10):
            print(index, line)

In [ ]:
# How can we process the data read from the file using pure Python? It involves a lot of manual work,
# for example, splitting the values by the correct seperator.

In [ ]:
with open('btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readLines()):
        # read just the firdt 10 lines
        if (index < 10):
            timestamp, price = line.split(',')
            print(f"(timestamp): ${price}")

In [ ]:
# But what happens if the seperator is unknown, like in exam_review.csv

In [ ]:
!head exam_review.csv

In [ ]:
# In this case, the seperator is not a comma, but the > sign, it's still a 'csv' 
# although not technically seperated by commas.

In [ ]:
with open('btc-market-price.csv', 'r') as fp:
    print(fp)

In [ ]:
with open('btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readLines()):
        # read just the first 10 lines
        if (index < 10):
            print(index, line)

In [ ]:
# How can we process the data read from the file using pure Python? It involves a lot of
# manual work. Eg splitting the values by the correct seperator:

In [ ]:
with open('btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readLines()):
        # read just the first 10 lines
        if (index < 10):
            timestamp, price = line.split(',')
            print(f"(timestamp): ${price}")

In [ ]:
# But what happens if the seperator is unknown, like in exam_review.csv

In [ ]:
!head exam_review.csv

In [ ]:
# In this case, the seperator is not a comma, but the > sign, it's still a 'csv' 
# although not technically seperated by commas.

**The CSV Module**

In [ ]:
# Python includes the builtin module CSV that helps a little bit more with the 
# process of reading CSVs.

In [ ]:
import csv

In [ ]:
with open('btc-market-price.csv', 'r') as fp:
    for index, line in enumerate(fp.readLines()):
        # read just the first 10 lines
        if (index < 10):
            timestamp, price = line.split(',')
            print(f"(timestamp): ${price}")

In [ ]:
# The csv module takes care of splitting the file using a given seperator called (delimiter)
# and creating an iterator for us.

In [ ]:
with open('exam_review.csv', 'r') as fp:
    reader = csv.reader(fp, delimiter='>') # special delimiter
    next (reader) # skipping header
    for index, values in enumerate(reader):
        if not values:
            continue # skip empty lines
            fname, lname, age, math, french = values
            print(f"{fname} {lname} ({age}) got {math} in math and {french} in french")

**Reading Data With Pandas**

In [ ]:
# The Pandas library offers us functions to read and write files in multiple formats
# like CSV, Json, XML, Excel's Xlsx, and all of them creating a DataFrame with info read
# from the file.

# We'll learn how to read different types of Data including:
# CSV file(CSV)
# Raw text files(TXT)
# Json data from a file and from and API
# Data from an SQL query over a database.

**The read_csv Method**

In [ ]:
# The first method we'll learn is the read_csv that lets us read comma seperated
# value(CSV) and raw text(TXT) files into a DataFrame.

In [ ]:
# We'll try to read our btc-market-price.csv CSV file using different parameters to parse it correctly.
# This file contains records of the mean price of bitcoin per day.

**Reading Our First CSV File**

In [ ]:
# Everytime we call read_csv method, we'll need to parse an explicit filepath.
# parameter indicating the path where our CSV file is.

# Any valid string path is acceptable. The string could be a URL.Valid URL schemes
# include; HTTP, FTP, S3,and file. For file URLs, a host is expected, a local file could be;
# file://localhost/path/to/table.csv.

# Eg, we can use read_csv method to load data directly from a URL.

In [ ]:
pd.read_csv?

In [ ]:
# or just use a local file

In [ ]:
df = pd.read_csv('btc-market-price.csv')
df.head()

In [ ]:
# In this case we let Pandas infer everything related to our data, but in most of the cases,
# we'll need to explicitly tell Pandas how we want our data to be loaded. To do that we use parameters

# Let's see how these parameters work.

**First Row Behaviour With Header Parameters**

In [ ]:
# The CSV file we are reading has only 2 colums; Timestamp and Price. It doesn't have a header.
# Pandas automatically assigned the row of data as headers, which is incorrect.
# We can overwrite this behaviour with the header parameter.

In [ ]:
df = pd.read_csv('btc-market-price.csv', header = None)

df.head()

**Missing Values with na_values Parameter**

In [ ]:
# We can define a na_values with the values we want to be recognised as NA/NAN
# In this case empty strings '',? and = will be recognised as null values.

In [ ]:
df = pd.read_csv('btc-market-price.csv', header = None,na_values=

#DATA CLEANING INTRODUCTION

In [ ]:
import numpy as np
import pandas as pd

**Pandas Utility Function**

In [ ]:
Similar to Numpy, Pandas also have a few utility function to identify and detect null values.

In [ ]:
pd.isnull(np.nan)

In [ ]:
pd.isnull(None)

In [ ]:
pd.isna(np.nan)

In [ ]:
pd.isna(None)

**The Opposite Ones also Exist**

In [ ]:
pd.notnull(None)

In [ ]:
pd.notnull(np.nan)

In [ ]:
pd.notnull(3)

In [ ]:
# These Functions also Work with Series and Dataframes

In [ ]:
pd.isnull(pd.Series([1, np.nan, 7]))

In [ ]:
pd.notnull(pd.Series([1, np.nan, 7]))

In [ ]:
pd.isnull(pd.DataFrame({'Column A':[1, np.nan,],
                        'Column B': [np.nan, 2, 3],
                        'Column C': [np.nan, 2, np.nan]}))

**Pandas Operations with Missing Values**

In [ ]:
# Pandas manage missing files more gracefully than Numpy. nan s will no longer behave like 'viruses' and operations will ignore them completely.

In [ ]:
pd.Series([1, 2, np.nan]).count()

In [ ]:
pd.Series([1, 2, np.nan]).sum()

In [ ]:
pd.Series([2, 2, np.nan]).mean()

**Filtering Missing DAta**

In [ ]:
# As we saw with numpy, we could combine boolean selection + pd.isnull
# to filter out those nan s and null values.

In [ ]:
s = pd.Series([1,2,3, np.nan, np.nan, 4])

In [ ]:
pd.notnull(s)

In [ ]:
pd.notnull(s).count()

In [ ]:
s[pd.notnull(s)]

In [ ]:
# But both notnull and isnull are also methods of Series and DataFrames, so we could use it that way.

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [ ]:
s[s.notnull()]

In [ ]:
pd.notnull(np.nan)

In [ ]:
pd.notna(np.nan)

In [ ]:
pd.notnull(3)

In [ ]:
# These Functions also work with Series and DataFrame

In [ ]:
pd.isnull(pd.series([1, np.nan, 7]))

In [ ]:
pd.notnull(pd.series([1, np.nan, 7]))

In [ ]:
pd.isnull(pd.DataFrame[{

In [ ]:
pd.isnull(pd.DataFrame({'Column A':[1, np.nan,]
                        'Column B': [np.nan, 2, 3],
                        'Column C': [np.nan, 2, np.nan]}))

**Pandas Operations with Missing Values**

In [ ]:
# Pandas manage missing files more gracefully than Numpy. nan s will no longer behave like 'viruses' and operations will ignore them completely.

In [ ]:
pd.Series([1, 2, np.nan]).count()

**Dropping Null Values**

In [ ]:
# Boolean selection + notnull() seems a little bit verbose and repetitive. and as said before,
# any repetitive task will probably have a better more dry way. in this case we can use the dropna mtd.

In [ ]:
s.dropna()

In [ ]:
pd.notnull(s).sum()

In [ ]:
pd.isnull(s).sum()

In [ ]:
s[pd.notnull(s)]

In [ ]:
# But both notnull and isnull are also methods of Series and DataFrames so we could use it that way.

In [ ]:
s.isnull()

In [ ]:
s.notnull()

In [ ]:
s[s.notnull()]

**Dropping Null Values**

In [ ]:
# Boolean selection + notnull() seems a little bit verbose and repetitive. and as said before,
# any repetitive task will probably have a better more dry way. in this case we can use the dropna mtd.

In [ ]:
s.dropna()

**Dopping Null Values on DataFrames**

In [ ]:
# It is simple to drop na s with a Series, but with DataFrames,there will be a few more things to consider, because you cant
# drop single values,you can only drop entire column or rows. Let's start with a simple DataFrame.

In [ ]:
df = pd.DataFrame({
    'Column A':[1, np.nan, 30, np.nan],
    'Column B': [2, 8, 31, np.nan],
    'Column C': [np.nan, 9, 32, 100],
    'Column D': [5, 8, 34, 110],})

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.isnull.sum()

In [ ]:
# The default dropna behaviour will drop all the rows in which any null values is present.

In [ ]:
df.dropna()

In [ ]:
# In this case we are dropping rows. Rows containing null values are dropped from the DF.
# You can also use the axis parameter to drop columns containing null values.

In [ ]:
df.dropna(axis=1) # axis='column' also works

In [ ]:
# In this case, any row or column that contains at least one null value will be dropped.
# Which can be depending on the case, too extreme. You can control this behaviour with the 
# how parameter. Can be either 'any' or 'all'.

In [ ]:
df2 = pd.DataFrame({
    'Column A':[1, np.nan, 30],
    'Column B': [2, np.nan, 31],
    'Column C': [np.nan, np.nan, 100]})

In [ ]:
df2

In [ ]:
df.dropna(how='all')

In [ ]:
df.dropna(how='any') # default behavior

In [ ]:
# You can also use the thresh parameter to indicate a threshold(a minimum number)
# of null values for the row/column to be kept.

In [ ]:
df

In [ ]:
df.dropna(thresh=3)

In [ ]:
df.dropna(thresh=3, axis='columns')

**Filling Null Values**

In [ ]:
# Sometimes, instead of dropping the null values, we might need to replace them with
# some other values. This highly depends on your context and the dataset you are currently working on.
# Sometimes a nan can be replaced by a 0, or the mean of the sample, or the closest value.
# There are different methods you can apply;

In [ ]:
s

**Filling Nulls with arbitrary Values**

In [ ]:
s.fillna(0)

In [ ]:
s.fillna(s.mean())

In [ ]:
s

**Filling Nulls with contiguous(close) Values)**

In [ ]:
# The method argument is used to fill null values with other values close to that null one.

In [ ]:
s.fillna(method='ffill')

In [ ]:
s.fillna(method='bfill')

In [ ]:
# This can still leave null values at the extremes of the Series/DataFrame

In [ ]:
pd.Series([np.nan, 3, np.nan, 9]), fillna(method='ffill')

In [ ]:
pd.Series([1, np.nan, 3, np.nan, np.nan]), fillna(method='bfill')

**Filling Null Values on DataFrames**

In [ ]:
# The fillna method also works on DataFrames and works similarly. the main diff
# is that you can specify the axis(as usual, rows and columns) to use to fill the 
# the values(specially for methods) and you have more controls on the values passed.

In [ ]:
df

In [ ]:
df.fillna({'column A' : 0, 'column B' : 99, 'column C' : df['column C'].mean()})

In [ ]:
df.fillna(method='ffill', axis=0)

In [ ]:
df.fillna(method='ffill', axis=1)

**Checking if there are NAs**

In [ ]:
# The question is, does this Series or DataFrame contain any missing value?
# The answer should be yes or no, True or False.How can you verify it?

In [ ]:
# Eg 1; Checking the Length

# If there are missing values, s.dropna() will have lesser values than s.

In [ ]:
# This can still leave null values at the extremes of the Series/DataFrame

In [ ]:
s.dropna().count()

In [ ]:
missing_values = len(s.dropna()) != len(s)
missing_values

In [ ]:
# There's also a count method that excludes nan s from its result

In [ ]:
len(s)

In [ ]:
s.count()

In [ ]:
# So we could just do;

In [ ]:
missing_values = len(s.dropna()) != len(s)
missing_values

**More Pythonic Solution 'any'**

In [ ]:
# The methods any and all check if either there's any true value in a Series
# or all the values are true. They work in the same way as in Python.

In [ ]:
pd.Series([True, False, False]).any()

In [ ]:
pd.Series([True, False, False]).all()

In [ ]:
pd.Series([True, True, True]).all()

In [ ]:
# The isnull() method returned a boolean Series with True values
# wherever there was a nan:

In [ ]:
s.isnull()

In [ ]:
# So we can just use the any method with the boolean array returned

In [ ]:
pd.Series([1, np.nan]).isnull().any()

In [ ]:
pd.Series([1, 2]).isnull().any()

In [ ]:
s.isnull().any()

**Cleaning Not-Null Values**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'Sex': ['M', 'F', 'F', 'D', '?'],
    'Age': [29, 30, 24, 290, 25],})
df

In [ ]:
# The above DataFrame does'nt have any 'missing value', but clearly has invalid data.
# 290 isn't a valid age,and D and ? is not in any known sex category.
# How can you clean these not missing but clearly invalid values then?

**Finding Unique Values**

In [ ]:
# The firdt step to clean invalid values is to notice them, then identify them and handle them appropriately
# (remove them, replace them, etc). Usually for a categorical type of field like 'sex' which only takes values of
# a discreet set,('M' 'F'), we start by analysing the variety of values present. For that, we use the unique() method.

In [ ]:
df['Sex'].unique()

In [ ]:
df['Sex'].replace('D' 'F')

In [ ]:
# It can accept a dictionary of values to replace. Eg, they also told you that there might be a few
# 'N's that shouls actually be 'M's

In [ ]:
df['Sex'].replace({'D':'F', 'N':'M'})

In [ ]:
# If you have many columns to replace, you could apply it at 'DataFrame level'

In [ ]:
df.replace({
    'Sex': {'D':'F', 'N':'M'},
    'Age': {290:29}})

In [ ]:
# Above, we replaced 290 with 29, assuming it was just an extra 0 entered at data-entry phase.
# If we would like to remove all the extra 0s from the ages column? Eg,
# (150 > 15, 490 > 49).

In [ ]:
# The first step would be to just set the limit of the 'Not Possible'age.is it 100? 120?
# Let's say that anything above 100 isn't credible for our dataset. We can then combine boolean
# boolean selection with the operation.

In [ ]:
df[df['Age']>100]

In [ ]:
# And we can now just divide by 10

In [ ]:
df.loc[df['Age'] > 100, 'Age'] = df.loc[df['Age'] > 100, 'Age'] / 10

In [ ]:
df

**Duplicates**

In [ ]:
# Checking Duplicate values is simple.It will behave differently bw Series and DataFrames. Let's start with Series,eg
# let's say we are throwing a fancy party and we are inviting ambassadors from Europe, but can only invite one ambassador percountry.
# This is our original list, and as seen, both the Uk and Germany have duplicated ambassadors:

In [ ]:
ambassadors = pd.Series([
    'France', 'United Kingdom', 'United Kingdom', 'Italy', 'Germany', 'Germany', 'Germany',],
    index=['Gerard Araud','Kim Darroch','Peter Westmacott','Armando Varricchio',
           'Peter Wittig','Peter Ammon','Klaus Scharioth'])

In [ ]:
ambassadors

In [ ]:
# The two most important methods to deal with duplicates are duplicated(that will tell you which values are duplicated)
# and drop_duplicates(which will just get rid of duplicates)

In [ ]:
ambassadors.duplicated()

In [ ]:
# In this case duplicated didnt consider 'Kim Darroch' the first instance of the United Kingdom or 'Peter Wittig' as duplicates.
# That's because by default, it will consider the first occurrence of the value as not-duplicate.
# You can change this behaviour with the keep parameter.

In [ ]:
ambassadors.duplicated(keep='last')

In [ ]:
# In this case, the result is 'flipped', 'Kim Darroch'and 'Peter Wittig' (The 1st ambassadors of their countries) are considered duplicates,
# but 'Peter Westmacott' and 'Klaus Scharioth' are not duplicates. You can also choose to mark all of them with keep=False:

In [ ]:
ambassadors.duplicated(keep = False)

**Duplicates in DataFrames**

In [ ]:
# Conceptually speaking,duplicates in a DataFrame happen at 'row'level.
# Two rows with exactly the same values are considered to be duplicates.

In [ ]:
players = pd.DataFrame({'Name':['Kobe Bryant','Lebron James','Kobe Bryant','Carmelo Anthony','Kobe Bryant',],
                        'Pos':['SG','SF','SG','SF','SF']})

In [ ]:
players

In [ ]:
# In the previous DataFrame, we clearly see that Kobe is duplicated, but he appears with 2 difft
# positions. What does duplicated say?

In [ ]:
players.duplicated()

In [ ]:
# Again conceptually, 'duplicated' means 'all the column values should be duplicates'.
# We can customise this with the subset parameter

In [ ]:
players.duplicated((subset=['Name'])

In [ ]:
# and the same rules of keep still apply:

In [ ]:
players.duplicated((subset=['Name'],keep='last')

In [ ]:
# drop_duplicates takes the same parameters

In [ ]:
players.drop_duplicates()

In [ ]:
players.drop_duplicates(subset=['Name']

In [ ]:
players.drop_duplicates(subset=['Name'],keep='Last')

**Text Handling**

In [ ]:
# Cleaning text values can be hard,invalid text values involves 99% of the time, mistyping, which is completely unpredictable
# and doesnt follow any pattern.Thankfully, it's not so common these days, where data entrytasks have been replaced by machines.
# Still let's explore the most common cases;

**Splitting Columns**

In [ ]:
# The result of a survey is loaded and this is what you get

In [ ]:
pd = df.DataFrame({'Data':['1987_M_US_1', '1990?_M_UK_1','1992_F_US_2','1970?_M_  IT_1','1985_F_I T_2']})

In [ ]:
df

In [ ]:
# The single columns represent the values; year,Sex,country,and number of children, but it's all been grouped in
# the same column and seperated by an underscore. Pandas has a convenient method named 'split' that we can use in these situations.

In [ ]:
df['Data'].str.split('_')

In [ ]:
df['Data'].str.split('_', expand=True)

In [ ]:
df = df['Data'].str.split('_', expand=True)

In [ ]:
df.columns = ['Year', 'Sex', 'Country', 'No Children']

In [ ]:
# You can also check which columns contain a given value with the 'contains' method.

In [ ]:
df

In [ ]:
df['Year'].str.contains('\?')

In [ ]:
# 'contains'takes a regex/pattern as first value, so we need to escape the ? symbol as it has
# a special meaning for these patterns. Regular letters dont need escaping:

In [ ]:
df['Country'].string.contains('U')

In [ ]:
# Removing blank spaces(like in 'US' or 'I T' can be achieved with strip(lstrip and rstrip
# also exist)or just replace:

In [ ]:
df['Country'].str.strip()

In [ ]:
df['Country'].str.replace(' ','')

In [ ]:
# As we said, replace and contains take regex patterns, which can make it easier to replace values in bulk:

In [ ]:
df['Year'].str.replace(r'(?P>year<\d{4})\?', lambda n: n.group('year'))

In [ ]:
# But, be warned;
# Some people when confronted with a problem, think'I know I'll use regular expressions' Now they have two problems:
# As you can see, all these string/text-related operations are applied over the str attribute of the Series.
# That's beacause they have a special place in Series handling and you can read more about it

#### DATA CLEANING IN PYTHON WORKING WITH DATA TEXT

#### Data Cleaning In Python

In [ ]:
# Working with text data
# Split a column into multiple columns
# Joining two columns
# Removing words, expression
# Searching for strings and expressions
# Replacing words

In [ ]:
# Load packages

import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("C:\\Users\\Amaka\\Desktop\\DS FILES\\Unclean+data+set+for+Data+Cleaning+Lesson.csv")

In [ ]:
df = pd.read_csv("C:\\Users\\Amaka\\Desktop\\DS FILES\\Unclean+data+set+for+Data+Cleaning+Lesson.csv", encoding='latin1')

In [ ]:
df.head()

In [ ]:
# Load dataset

In [ ]:
df = pd.read_csv("C:\\Users\\Amaka\\Desktop\\DS FILES\\Unclean+data+set+for+Data+Cleaning+Lesson.csv")
df.head()

In [ ]:
df.columns

In [ ]:
df.columns.str.lower()

In [ ]:
df.columns = df.columns.str.lower()

In [ ]:
# Renaming Columns:

df.rename(columns={'full name':'full_name','date of birth':'date_of_birth'})

In [10]:
df.rename(columns={'full name':'full_name','date of birth':'date_of_birth'},inplace=True)

NameError: name 'df' is not defined

**Splitting Column into Multiple**

In [ ]:
# Method 1

df.full_name

In [ ]:
df.full_name.str.split(" ")

In [ ]:
df.full_name.str.split(" ")[0]

In [ ]:
df.full_name.str.split(" ").str.get(0)

In [ ]:
df['firstname'] = df.full_name.str.split(" ").str.get(0)

In [ ]:
df.firstname

In [ ]:
df['lastname'] = df.full_name.str.split(" ").str.get(0)

In [ ]:
df.lastname

In [ ]:
# Method 2

df.full_name

In [ ]:
df1 = df

In [ ]:
df1.full_name.str.split(" ",expand=True)

In [ ]:
df1.full_name.str.split(" ",n=1,expand=True)

In [ ]:
df.head(3)

In [ ]:
# Finding A String/Exp N Replace

In [ ]:
df['income.1']

In [ ]:
df['income.1'].dtype

In [ ]:
df['income.1'].str.replace("$"," ")

In [ ]:
df['income.1'].str.replace("$","Euro ")

In [ ]:
df.head()

In [ ]:
# Finding a String/Expression

+ str.contains
+ str.filter
+ str.match

In [ ]:
# Find the salary that has 19 in it
# As boolean

df.salary

In [ ]:
df.salary.str.contains('19')

In [ ]:
# get it as value

df[df.salary.str.contains('19')]

In [ ]:
df[df.salary.str.contains('19/17')]

In [ ]:
# You can also specify it as a regular expression

df[df.salary.str.contains('19/17',regex=True)]

In [ ]:
df.salary.str.match('19')

In [ ]:
df.quote

In [ ]:
# To find the word 'Operative' in the quote column

df[.quote.str.match('Operative')]

In [ ]:
# Finding An Index

df.salary.filter(regex='18')

In [ ]:
df.salary.filter(regex='18',axis=0)

In [ ]:
# Join A Column

df.head()

In [ ]:
# Method 1

df.firstname + df.email

In [ ]:
# Method 1

df.firstname +"_"+ df.email

In [ ]:
# Method 2

dfall = df[["firstname','email']].apply("_".join,axis=1)

In [ ]:
dfall

In [ ]:
# Counting Strings in a Column

df.quote

In [ ]:
# When it counts only space

df.quote.str.count(' ')

In [ ]:
# Counting Space plus the right values

df.quote.str.count(' ') + 1

In [ ]:
df.quote.str.split().str.len()

In [ ]:
df.quote.str.split().map(len)

In [ ]:
df.quote.str.split().apply(len).value_counts()

In [12]:
df.rename(columns = {'DURATION' : 'TIME'})

NameError: name 'df' is not defined

In [ ]:
df.columns

In [ ]:
df.columns.str.upper()

In [ ]:
# For Inconsistent column names:

# You either Cchange Cases or Rename them.

**Missing Data**

In [ ]:
# Add default value for missing data, or use mean to fill it.
# Delete the row/column with missing data.
# Interpolate the rows.
# Replace

# To check for missing Data;

# False means no missing data.

- df.isnull().sum() int
- df,isnull().any() bool

In [ ]:
df.isnull()

In [ ]:
df.isnull().any()

In [ ]:
# Columns with NAN using True/False.
# False means it doesn't have a NAN

df.isnull().any().any()

In [ ]:
# For entire DataFrame
df.isnull().any().any()

In [ ]:
# Columns with NAN using Integer

df.isnull().sum()

In [ ]:
# Total Number of Missing NA

df.isnull().sum().sum()

**Adding A Default Value or Filling the Missing Data**

In [ ]:
df.head()

In [ ]:
df.fillna(0)

In [ ]:
df_with_0 = df.fillna(0)

In [ ]:
df_with_0.head()

In [ ]:
# Fill it with mean

df['DURATION']

In [ ]:
df['DURATION'].mean()

In [ ]:
df_with_mean = df.DURATION.fillna(df['DURATION'].mean())

In [ ]:
df_with_mean

In [ ]:
# Dropping NA

df.head()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.shape

In [ ]:
df_drop = df.dropna()

In [ ]:
df_drop.shape

In [ ]:
df_drop

In [ ]:
# Dropping with a Condition

df_with_condition = df.dropna(how)

In [ ]:
?df.dropna

In [ ]:
df_with_condition = df.dropna(how='any') # or all

In [ ]:
df_with_condition = df.dropna(thresh=2)

In [ ]:
df_drop_column = df.dropna(axis=1)

In [ ]:
df_drop_column.shape

## DATA CLEANING IN PYTHON WORKING WITH DATA TEXT